{% extends "base_logged_in.html" %}

    {% block title %} Login Page {% endblock %}
    {% block style %}<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/change_pass.css') }}">{% endblock %}
    
    {% block content %}
    <div class="container">
    <div id="form-id">
      <div id="banner"></div>  
      <div><h1>New password</h1></div>
      <form id="form" action="{{url_for('views.process_change_pass')}}" method="post">
        <div class="mb-3">
          <input type="password" class="form-control" id="password" name="password">
        </div>
        <button id="button-submit" type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    </div>
  <script src="../static/change_pass.js"></script>
  {% endblock %}
