
{% extends "base_logged_in.html" %}

  {%block title%} Common Room {%endblock%}
  {% block style %}<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/common_room.css') }}">{% endblock %}

  {% block content %}
  <div class="container">
    <div class="chat-container">
      <div id="messages">
        <div id="message-form-div">
          <form id="message-form" class="input-group">
            <input type="text"  id="message-input" class="form-control" placeholder="Enter message...">            
            <button id="send-button" type="submit" class="btn btn-secondary">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cursor-fill" viewBox="0 0 16 16">
              <path d="M14.082 2.182a.5.5 0 0 1 .103.557L8.528 15.467a.5.5 0 0 1-.917-.007L5.57 10.694.803 8.652a.5.5 0 0 1-.006-.916l12.728-5.657a.5.5 0 0 1 .556.103z"></path>
              </svg>
            </button> 
          </form>
          </div>
      </div>
      <div id="active-users">
        <div class="h4" id="title-active-users"><h>Active users</h></div>
        <hr class="dashed">
        <div class="user-container"></div>
      </div>
    </div>
  </div>
  <script src="../static/common_room.js"></script>
  <script>
    const leaveUrl = "{{ url_for('views.leave')}}";
  </script>
  {% endblock %} 